iframe {
    display: block;
    margin: 0 auto;
}

canvas {
    /* position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1; */
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

/* rotating pentagrams */
.pentagram {
    display:inline-block;
    color: #402b32;
    /*transform: rotate(-90deg);*/
    animation-duration: 10s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
  }
  
  @keyframes rotate {
    from{
      transform: rotate(0deg);
    }
    
    to{
      transform: rotate(360deg);
    }
  }